@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  color: rgb(74, 110, 74);
}

section {
  padding-top: 2rem;
}

.container,
footer {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/*....styly pro menu......*/
header {
  padding: 0 0 1rem 0;
  height: 5rem;
  background-color: indianred;
  position: fixed;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

.site-logo {
  max-width: 10rem;
  height: 5rem;
  margin: 1.2rem;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
  width: 10rem;
  padding: 1rem;
  /*background-color: */
}

nav a {
  display: block;
  margin: 0.9rem;
  /*color: */
  border-bottom: 1px solid red; /*transparent*/
  text-decoration: none;
  /*text-transform: uppercase;*/
}

nav a:hover {
  border-bottom: 1px solid pink;
}

.nav-closed {
  display: none;
}

/* .....styly pro hlavni text stranky */
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
.intro {
  padding-top: 5rem;
}

@media screen and (min-width: 681px) {
  .container {
    max-width: 960px;
  }
  footer {
    max-width: 960px;
  }
  .nav-btn {
    display: none; /*pridano, aby pro velke sirky zmizel hamburger*/
  }
  .navigation {
    flex-direction: row;
  }
  nav {
    width: initial;
  }
  nav a {
    display: inline-block;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .nav-closed {
    display: block;
  }
}
/* ....hamburger jen na mobilu...*/
@media (max-width: 680px) {
  .nav-btn {
    width: 3rem;
    height: 3rem;
    border: none;
    padding: 0;
    background-color: transparent;
    background-image: url('./img/menu.png');
    background-size: contain;
    cursor: pointer;
  }
  .nav-btn:focus {
    outline: none;
  }
}
